/* =Typographic cadence/baseline/vertical rhythm
-------------------------------------------------------------- */
* {
  font-size: 100%;
  line-height: 22px;
  line-height: 1.375rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, ol, ul, table, blockquote, pre {
  margin-bottom: 22px;
  margin-bottom: 1.375rem; }

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 44px;
  line-height: 2.75rem; }

h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 44px;
  line-height: 2.75rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 44px;
  line-height: 2.75rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  /* 18px */
  line-height: 44px;
  /* 18px */
  line-height: 2.75rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  /* 16px */
  line-height: 22px;
  /* 16px */
  line-height: 1.375rem; }

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  /* 14px */
  line-height: 22px;
  /* 14px */
  line-height: 1.375rem; }

blockquote {
  padding: 22px 24px 0 24px;
  padding: 1.375rem 1.5rem 0 1.5rem; }

blockquote p {
  margin-bottom: 0;
  padding-bottom: 22px;
  padding-bottom: 1.375rem; }

blockquote cite {
  display: block;
  margin-top: 22px;
  margin-top: 1.375rem;
  text-align: right; }

table {
  border-collapse: collapse; }

th {
  line-height: 44px;
  line-height: 2.75rem; }

ol, ul {
  margin-left: 24px;
  margin-left: 1.5rem;
  /* 24px */ }

sub {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1em;
  vertical-align: bottom; }

sup {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1em;
  vertical-align: top !important; }

em, var, strong, code, kbd {
  line-height: 1em; }

/* =Forms
-------------------------------------------------------------- */
input[type="text"] {
  height: 27px;
  height: 1.71875rem;
  margin-bottom: 16px;
  margin-bottom: 1.03125rem; }

button, input[type="button"] {
  height: 27px;
  height: 1.71875rem;
  margin-bottom: 16px;
  margin-bottom: 1.03125rem; }

select {
  height: 27px;
  height: 1.71875rem;
  margin-bottom: 16px;
  margin-bottom: 1.03125rem; }

textarea {
  height: 110px;
  height: 6.875rem;
  display: block; }

